@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    /* Your CSS properties here */
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.top-header {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 0.875rem;
}

.top-header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.top-header__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}

.top-header__social li a {
    color: #fff;
    text-decoration: none;
}

/* Bootstrap Menu Styles */
.navbar {
    background-image: url(../images/18836975_1742898855739770_2923034198161573841_o.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #dee2e6;
    height:570px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto;
    list-style: none;
}

.navbar-brand svg {
    stroke: #fff;
    fill: #fff;
}

.navbar-nav .nav-link {
    color: #757373;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: #333;
}

.navbar-toggler {
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    background-color: transparent;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    transition: all 0.3s ease;
}

@media (max-width: 767.98px) {
    .navbar-nav {
        position: fixed;
        margin-left: 0;
        margin-top: 1rem;
        transform: translateX(100%);
        transition: all 0.3s ease;
        z-index: 999;
    }

    .nav-open {
        transform: translateX(0);
        transition: all 0.3s ease;
    }

    .transition-in {
        transform: translateX(-30%);
        transition: all .3s ease;
    }

    .navbar-nav .nav-link {
        display: block;
        color: #333;
        background-color: #fff;
        padding: 0.5rem 1rem;
        margin: 0.5rem 0;
    }

    .navbar-collapse {
        border-top: 1px solid #dee2e6;
    }

    .navbar-toggler {
        display: block;
        margin: 0 0.5rem;
    }

.nav-item:hover .dropdown-menu,
.nav-item:hover .mega-dropdown {
    display: none!important;
}

}

.dropdown:hover .sub-menu {
    display: block;
}

/* Dropdown Menu Styles */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f8f9fa;
    border: none;
    border-radius: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    width: 230px;
    list-style: none;
    margin: 0;
    padding: 0;
    animation: dropdownAnimation 0.3s ease-in-out forwards;
    z-index: 9;
}

.mega-dropdown {
    display: none;
    position: absolute;
    left: 50%;
    background-color: #f8f9fa;
    border: none;
    border-radius: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 1.2rem;
    animation: dropdownAnimation 0.3s ease-in-out forwards;
    transform: translateX(-50%);
    z-index: 9;
}

.mega-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mega-dropdown .title {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    margin: 0;
    border-bottom: 1px solid #dee2e6;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    clear: both;
    font-weight: 500;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #333;
}

.nav-item:hover .dropdown-menu,
.nav-item:hover .mega-dropdown {
    display: block;
}

/* Dropdown Menu Animation */

@keyframes dropdownAnimation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Quick Search */

.search-box {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    margin-bottom: 1rem;
    border: 1;
}

.quick-search {
    position: relative;
    width: 300px;
    border: 1px solid #ced4da;
    outline: none;
    padding: 0.5rem 1rem;
}

/* Form Item Styles */

.section-book {
    background-color: #f5f5f5;
    padding: 4rem 0;
}

.form-item {
    margin-bottom: 1rem;
}

.form-item label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.594rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: none;
}
/* Form Item Styles */
.form-item input[type="date"] {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: none;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-book {
    background-color: #333;
    color: #fff;
}

.btn-book:hover {
    background-color: #555;
}
/*  */

/* Section Services Styles */

.section-services {
    display: flex;
    padding: 2rem;
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
}

.section-services .service-card {
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.section-services .service-card .icon {
    font-size: 2rem;
    color: #333;
    margin-right: 0.5rem;
}

.section-services .service-card .desc .name {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.section-services .service-card .desc .info {
    font-size: 1rem;
    color: #333;
    margin: 0;
}
/*  */

/* Section Why Choose Styles */
.section-why-choose {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.section-why-choose img {
    width: 100%;
    border-radius: 4px;
}

.section-why-choose .box-border {
    border: 1px solid #dee2e6;
    padding: 1rem;
    margin-bottom: 1rem;
}

.section-why-choose .why-choose-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.section-why-choose .why-choose-item .title {
    font-size: 1.2rem;
    font-weight: 300;
    color: #333;
    margin-left: 0.5rem;
}

.section-why-choose .statistic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow style here */
}

.section-why-choose .statistic .icon {
    font-size: 1rem;
    color: #333;
    margin-right: 0.5rem;
}

.section-why-choose .statistic .info {
    font-size: 1rem;
    color: #333;
    margin: 0;
}

.section-why-choose .statistic .info .count {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

/*  */

/* Heading Styles */

.heading {
    margin-bottom: 2rem;
    text-align: center;
}

.heading-title {
    font-size: 2rem;
    font-weight: bold;
}

.heading-title .heading-link {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
}

.heading-title .heading-link:hover {
    color: #d9d9d9;
}

.heading-desc {
    font-size: 1rem;
    color: #555;
}

/*  */

/* Section Product Styles */
.section-product {
    background-color: #f5f5f5;
    padding: 4rem 0;
}

.product-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

.product-card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}

.product-card img {
    width: 100%;
    border-radius: 4px;
}

.product-card .desc {
    padding: 1rem 0;
}

.product-card .desc .name {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.product-card .desc .tranport {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.product-card .desc .check-in,
.product-card .desc .check-out  {
    font-size: .9rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.product-card .desc .check-in span,
.product-card .desc .check-out span {
    font-weight: bold;
    color: #333;
}

.product-card .desc .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card .desc .price {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.product-card .desc .book-link {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background-color: #333;
    padding: 8px 16px;
}

.btn-more a {
    display: block;
    color: #333;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    padding: 8px 16px;
}

.btn-more a:hover {
    color: #d9d9d9;
}

/*  */

/* Section banner Styles */
.banner {
    background-color: #f5f5f5;
}

.banner .banner-card img {
    width: 100%;
    border-radius: 4px;
}
/*  */

/* Section Destination Styles */
.section-destination {
    padding: 2rem;
    background-color: #f5f5f5;
}

.section-destination .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.section-destination .destination-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-bottom: 1rem;
}

.section-destination .destination-card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}

.section-destination .destination-card img {
    width: 100%;
    border-radius: 4px;
}

.section-destination .destination-card .name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.section-destination .destination-card .info {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-destination .destination-card .btn {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background-color: #333;
    padding: 8px 16px;
}
/*  */

/* Section Testimonial Styles */
.section-testimonial {
    padding: 4rem 0;
    background-color: #f5f5f5;
}

.section-testimonial .testimonial-card {
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    background-color: #fff;
}

.section-testimonial .testimonial-card .avatar {
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.section-testimonial .testimonial-card .testimonial-text {
    font-size: 1rem;
    overflow: hidden;
    padding: 0 2.3rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.section-testimonial .testimonial-card .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-testimonial .testimonial-card .name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.section-testimonial .testimonial-card .rating {
    margin-bottom: 0.5rem;
}

.section-testimonial .testimonial-card .desc .star.selected {
    color: #f1c40f;
}

.section-testimonial .testimonial-card .desc {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.section-testimonial .testimonial-card .desc span {
    font-weight: bold;
    color: #333;
}
/*  */

/* Section Blog */

.section-blog {
    padding: 4rem 0;
    background-color: #f5f5f5;
}

.section-blog .new-img {
    width: 100%;
    border-radius: 4px;
}

.section-blog .item {
    position: relative;
}

.section-blog .inside-desc {
    position: absolute;
    bottom: 0;
    padding-left: 1rem;
    padding-bottom: 1.4rem;
}

.section-blog .sub-heading {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    padding: 0;
    margin-bottom: 1rem;
}

.section-blog .inside-desc .title a {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 0;
    margin-bottom: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.section-blog .inside-desc .post-link {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.section-blog .inside-desc .post-link .link {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0.5rem;
}

.section-blog .inside-desc .post-link .link:hover {
    color: #333;
    border-color: #333;
}

.section-blog .inside-desc .post-date {
    color: #fff;
    font-size: .9rem;
}

.section-blog .inside-desc .post-date i {
    margin: 0 .2rem;
    font-size: .4rem;
    vertical-align: middle;
}

.section-blog .desc .title a {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    padding: 0;
    margin-bottom: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.section-blog .desc .post-link {
    margin-top: 0.5rem;
    margin-bottom: .7rem;
}

.section-blog .desc .post-link .link {
    color: #333;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 0.5rem;
}

.section-blog .desc .post-date {
    color: #495057;
    font-size: .9rem;
}

.section-blog .desc .post-date i {
    margin: 0 .2rem;
    font-size: .4rem;
    vertical-align: middle;
}

.blog-card {
    display: flex;
   align-items: center;
   margin: .5rem 0;
}

.blog-card .image {
    margin-right: .5rem;
}

.blog-card img {
    width: 100%;
    border-radius: 4px;
}

.more-btn .btn {
    display: block;
    color: #fff;
    font-size: 1rem;
    background-color: #333;
}

/* Section Slider */

.section-slider {
    padding: 4rem 0;
    background-color: #f5f5f5;
}

/* Owl Carousel Navigation Styles */
.owl-carousel .owl-nav,
.owl-carousel-3 .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel-3 .owl-nav button.owl-prev,
.owl-carousel-3 .owl-nav button.owl-next {
    font-size: 1.5rem;
    color: #333;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border: 1px dashed #333;
    border-radius: 30px;
    transition: color 0.3s ease;
    padding:5px 18px!important;
}

.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span,
.owl-carousel-3 .owl-nav button.owl-prev span,
.owl-carousel-3 .owl-nav button.owl-next span {
    display: inline-block;
}

.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel-3 .owl-nav .owl-prev:hover,
.owl-carousel-3 .owl-nav .owl-next:hover {
    color: #333;
    background-color: #fff;
}

.owl-carousel .owl-nav .owl-prev {
    margin-left: 1rem;
}

.owl-carousel .owl-nav .owl-next {
    margin-right: 1rem;
}

/* Bubble contact */

.bubble-contact {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 60px;
    z-index: 999;
}

.bubble-contact .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1rem;
}

.bubble-contact .btn:hover {
    filter: brightness(1.2);
}

.bubble-contact .btn svg {
    .st0{
        fill:#fdfefe
}
.st1 {
        fill:#0180c7
}
.st2 {
        fill:#0172b1
}
.st3 {
        fill:none;stroke:#0180c7;stroke-width:2;stroke-miterlimit:10
}

}

 
/* Footer Styles */
footer {
    background-image: url(../images/18836975_1742898855739770_2923034198161573841_o.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    padding-top: 3rem;
    text-align: center;
}

footer p {
    margin: 0;
    color: #fff;
    font-size: 14px;
}

footer h3 {
    margin: 0;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

footer li {
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 14px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer .footer-list a:hover {
    text-decoration: underline;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/*  */

/* Footer Copy-right Styles */
footer .copy-right {
    font-size: 12px;
    color: #999;
    margin-top: 1rem;
}









